{% block html_head_container %}
{% include 'global/html-header.twig' %}
{% endblock %}

<body class="{{ body_class }}">
  <a class="skip-link is-sr-only" href="#main">{{ _e( 'Skip to content') }}</a>
  {% set gtm_installed = function('function_exists', 'gtm4wp_the_gtm_tag') %}
  {% if gtm_installed == 1 %}
  {{ function('gtm4wp_the_gtm_tag') }}
  {% endif %}

  <header id="header" class="module header" data-name="header">
    <div class="container">
      {% block header %}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-hidden" href="{{ site.url }}" rel="home">
            <p class="site-name is-hidden">{{ site.name }}</p>
            {{ function('the_custom_logo') }}
          </a><!-- /.navbar-item -->

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarRelated">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div><!-- /.navbar-brand -->

        <div id="navbarRelated" class="navbar-menu">
          <div class="navbar-start">
            {% include "global/menu.twig" with {'menu': menu.get_items} %}
          </div><!-- /.navbar-start -->

          <div class="navbar-end">
            <div class="navbar-item tile is-vertical">
              <div class="social-media__links">
                {% set facebook_url = function( 'get_theme_mod', 'rltd_social_media_facebook' ) %}
                {% if facebook_url %}
                <a href="{{ facebook_url }}" class="social-media__link" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}

                {% set twitter_url = function( 'get_theme_mod', 'rltd_social_media_twitter' ) %}
                {% if twitter_url %}
                <a href="{{ twitter_url }}" class="social-media__link" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                {% endif %}

                {% set instagram_url = function( 'get_theme_mod', 'rltd_social_media_instagram' ) %}
                {% if instagram_url %}
                <a href="{{ instagram_url }}" class="social-media__link" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                {% endif %}
              </div><!-- /.social-media__links -->

              {# <div class="newsletter-signup"></div> #}

              <form method="get" action="{{ site.url }}" role="search">
                <div class="field">
                  <p class="control has-icons-left">
                    <input type="text" class="search input is-small" name="s" placeholder="Search" autocomplete="off"/>
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
                </div>
                <button type="submit" class="is-sr-only">Search</button>
              </form>
            </div><!-- /.navbar-item -->

          </div><!-- /.navbar-end -->
        </div><!-- /.navbar-menu -->
      </nav>
      {% endblock %}
    </div><!-- /.container -->
  </header>

  <section id="main" role="main" data-name="main">
    <div class="container">
      {% if title %}
      <h1>{{ title }}</h1>
      {% endif %}

      {% block content %}
        Sorry, no content
      {% endblock %}
    </div><!-- /.container -->
  </section>

  {% block footer %}
  {% include 'global/footer.twig' %}
  <div id="newsletterModal"></div>
  <script src="{{ site.theme.link }}/build/assets/scripts/main.js"></script>

  {{ function('wp_footer') }}
  {% endblock %}
</body>
</html>
