<div class="content-list__items columns is-variable is-3">
  {% for item in items %}
  <div class="content-list__item column is-12-mobile is-{{ columns == 12 ? 12: 6 }}-tablet is-{{ columns }}-desktop">
    <a href="{{ item.link }}">
      {% if columns == 12 %} {# single column #}
      <picture>
      	<!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="--medium" srcset="{{ item.image_xl_s|resize(890, 445) }}">
      	<!--[if IE 9]></video><![endif]-->
        <img src="{{ item.image_xl_l|resize(1300, 445) }}" {{ (item.image_alt is defined) ? 'alt="' ~ item.image_alt|e ~ '"' }}>
      </picture>
      {% else %}
      <picture>
      	<!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="--medium" data-srcset="{{ item.image_l|resize(744, 499) }}" />
        <source media="--large" data-srcset="{{ item.image_m|resize(488, 327) }}" />
      	<!--[if IE 9]></video><![endif]-->
        <img
          class="lazyload"
          data-src="{{ item.image_s|resize(424, 284) }}"
          {{ (item.image_alt is defined) ? 'alt="' ~ item.image_alt|e ~ '"' }}
        />
      </picture>
      {% endif %}
    </a>

    <div class="content-list__content">
      {% if item.meta is defined and item.meta is not empty %}
      <p class="content-list__item__meta">{{ item.meta }}</p>
      {% endif %}

      <a href="{{ item.link }}"><h3 class="content-list__item__title">{{ item.title }}</h3></a>

      {% if item.text is defined and item.text is not empty %}
      <p class="content-list__item__desc">{{ item.text }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
