{% block content %}
<div class="content-list__item column is-12-mobile is-4-tablet is-4-desktop">

  {% if (post.link is defined and post.link is not empty) and (post.thumbnail.src is defined and post.thumbnail.src is not empty) %}
  <a href="{{ post.link }}">
    <img
      src="{{ post.thumbnail.src('full')|resize(370, 248) }}"
      srcset="
        {{ post.thumbnail.src('full')|resize(768, 514) }} 769w,
        {{ post.thumbnail.src('full')|resize(659, 442) }} 1024w
      "
      sizes="100vw"
      {{ (item.image_alt is defined) ? 'alt="' ~ item.image_alt|e ~ '"' }}
    >
  {% endif %}

  <div class="content-list__content">
    {% if post.title is defined and post.title is not empty %}
    <a href="{{ post.link }}"><h3 class="content-list__item__title">{{ post.title }}</h3></a>
    {% endif %}

    {% if post.preview is defined and post.preview is not empty %}
    <p class="content-list__item__desc">{{ post.preview.length(25) }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
